:root{
    --cs-dark: #0b292d;
    --cs-grey: #A2A3BB;
    --cs-green: #639FAB;
    --cs-brown: #685155;
    --cs-light: #02586a;
    --cs-blue: #020024;
    --cs-lightgreen: #516b2f;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', sans-serif;
}

p, pre {
    font-family: 'Open Sans', sans-serif;
}

/*CSS for the navbar style*/

nav {
    background-color: var(--cs-dark);
}
.navbar-toggler {
    position: relative;
    top: 3px;
}
#menu-bar {
    transition: transform 0.3s ease-in-out;
}
#menu-bar:hover {
    transform: scale(1.1);
    background-image: linear-gradient(180deg, var(--cs-dark) 0%, var(--cs-light) 50%, var(--cs-dark) 100%);
}

.icons a{
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.icons a:hover {
    opacity: 1;
}

/*CSS for the chat icon and email modal*/

#contact_image {
    color: #f0f0f0;
}
#chat_box {
    transition: transform 0.3s ease-in-out;
}
#chat_box:hover {
    transform: scale(1.3);

}
.chatbox-icon-button {
    background-color: transparent;
    border: none;
    padding: 0;
}
.email{
    color: var(--cs-grey);
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.email .modal-header {
    border-bottom: none;
}

.email .modal-title {
    color: #333333;
}

.modal-btn {
    width: 15px;
    margin: 0;
    left: auto;
    right: 50px;
}

.email .modal-body,
.email .modal-footer {
    border-top: none;
}

.email .form-control {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
}

.email .btn-dark {
    background-color: var(--cs-dark);
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.email .btn-dark:hover {
    background-image: linear-gradient(180deg, var(--cs-dark) 0%, var(--cs-light) 50%, var(--cs-dark) 100%);
}
/*Colors and styles for each section*/

.hero {
    background-image: linear-gradient(180deg, var(--cs-dark) 0%, var(--cs-light) 50%, var(--cs-dark) 100%);
}

#contact {
    background-color: var(--cs-green);
}

#resume {
    background-color: var(--cs-green);
}

.offcanvas {
    background-image: linear-gradient(var(--cs-dark), var(--cs-green));
}

/*Styling for the main page*/

#down {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

a:hover #down {
    transform: translateY(10px);
}

.title {
    text-shadow: 8px 8px 4px var(--cs-blue);
}

@media only screen and (min-width: 1025px) {
    #main-text {
        width: 30%;
    }
}

/*Section for the project page*/

.card {
    background-image: linear-gradient(180deg, var(--cs-dark) 0%, var(--cs-light) 50%, var(--cs-dark) 100%);
    color: #f0f0f0;
}

#project {
    padding: 0;
}

.personal-projects,
.school-projects {
    background-image: linear-gradient(180deg, var(--cs-dark) 0%, var(--cs-light) 50%, var(--cs-dark) 100%);
}
.school-projects {
    position: relative;
    top: 75px;
}

.project-title {
    position: relative;
    display: flex;
    justify-content: center;
    top: 75px;
    color: #f0f0f0;
}

/*Section for the About me page*/


/* Footer section */

.footer {
    background-image: linear-gradient(90deg, var(--cs-dark) 0%, var(--cs-light) 50%, var(--cs-dark) 100%);
}

.footer-icons {
    height: 15vh;
}

.socials {
    height: 30px;
}

