:root{
    --cs-dark: #0b292d;
    --cs-grey: #A2A3BB;
    --cs-green: rgba(62, 89, 55, 0.75);
    --cs-brown: #685155;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

nav {
    background-color: var(--cs-dark);
}
#hero {
    background-color: var(--cs-dark);
}
#resume {
    background-color: var(--cs-green);
}

.offcanvas {
    background-image: linear-gradient(var(--cs-dark), var(--cs-green));
    opacity: 0.7;
}
